# ===== Build files =====
target/
build/

# ===== Eclipse / STS =====
.project
.classpath
.settings/

# ===== IntelliJ IDEA =====
.idea/
*.iml

# ===== VS Code =====
.vscode/

# ===== OS files =====
.DS_Store
Thumbs.db

# ===== Logs =====
*.log
logs/

# ===== Environment / Secrets =====
.env
application-local.properties
application-dev.properties
application-prod.properties
